@import "styles/colours.scss";

.btnContainer {
  width: 90%;
  padding: 1em;
  display: flex;
  flex-direction: row;

  .btn {
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn--primary {
    background-color: $colour-highlight-primary;
    color: white;
    transition: all 0.1s ease-out;
  }

  .btn--primary:hover {
    background-color: $colour-highlight-secondary;
    color: darken($colour-neutral-primary, 20%);
  }

  .btn--secondary {
    background-color: $colour-neutral-secondary;
    color: white;
    transition: all 0.1s ease-out;
  }

  .btn--secondary :hover {
    background-color: $colour-medium-primary;
    color: $colour-neutral-primary;
  }
}
